/*
 * AJAX Loading Styles
 */
.listing-item {
	position: relative;
}

.dps-arm-loading-overlay {
	position:   absolute;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 );
}

.dps-arm-loading {
	display: block;
	width: 64px;
	height: 64px;
	top: 50%;
	/*left: 50%;*/
	margin: 0 auto;
	position: relative;
	transform: translateY(-50%);
}

.dps-arm-loading:after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #9f9f9f;
	border-color: #9f9f9f transparent #9f9f9f transparent;
	animation: sat-loading 1.2s linear infinite;
}
@keyframes dps-arm-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
